@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


body {
	background-color: black;
}

.navbar {
	background-color: transparent;
}

.navbar > a > span {
	color: #ff8812;
	font-family: 'Pacifico', cursive;
	font-size: 2rem;
}

.navbar > a > i {
	color: #ff8812;
}

.navbar > div > ul > li > a {
	padding-top: 15px;
	margin-right: 10px;
	font-size: 1.3rem;
}

.landing-page {
	height: 1000px;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/carousel2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

.col-lg-6 > h1 {
	color: #fff;
	text-align: right;
	padding: .5%;
	font-size: 5rem;
	text-shadow: 10px;
	z-index: 1;
}

.col-lg-6 > p {
	color: #fff;
	text-align: right;
	font-size: 1.7rem;
	line-height: 3rem;
}

.landing-button {
	font-size: 1.7rem;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	color: black;
	background-color: #ff8812;
	padding: 15px 20px;
	border: 0;
	float: right; 
	margin-top: 55px;
	margin-right: 5px;
	width: 200px;
}

.highlight-text {
	color: #ff8812;
}

.jumbotron {
	background-color: #161d24;
	color: white;
	border-radius: 0%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 0;
}

.jumbotron > .lead {
	color: #ff8812;
	font-size: 5rem;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.jumbotron > p {
	color: white;
	font-size: 1.5rem;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;

}

.passion {
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/passion1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90px; 
}

.passion > h1 {
	padding: 15px 0px;
	text-shadow: 3px 3px #000;
	margin-bottom: 0;
	font-family: 'Permanent Marker', cursive;
	color: white;
	text-align: center;
	font-size: 2.5rem;
	height: auto;
	z-index: 1;
}

.carousel-caption > h1 {
	height: auto;
	font-size: 2.5rem;
	text-shadow: 2px 2px #000;
	padding: auto;
}

.carousel-caption > p {
	font-size: 1.7rem;
	text-shadow: 1px 1px #000;
}

.clients {
	background-color: white;
	padding-bottom: 50px;
}

.clients > div > h1 {
	text-align: center;
	padding: 4%;
	font-family: 'Permanent Marker', cursive;
}

.row-clients > div > p {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 10%
}

 .row-clients > div > i {
 	text-align: center;
 	display: inline-block;
 	width: 100%;
}	

.row-clients > div {
	padding: 50px 0px;
}

.team {
	height: 1400px;
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/team1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	background-position: center;
}

.team > div > h1 {
	text-align: center;
	padding: 30px;
	color: white;
	font-size: 	4rem;
	font-family: 'Permanent Marker', cursive;
}

.card {
	width: 14rem;
	color: black;
	margin: auto;
	border: solid 15px #ffffff;
	background-color: #ffffff;
}

.card-text, .card-body {
	padding: 0;
	margin: 15px 0px;	
}

.card > img {
	border-radius: 50%;
	border: solid 3px #ff8812;
	margin: 90px 0px;
}



@media (min-width: 576px) {
	.passion {
		height: 150px; 
	}

	.passion > h1 {
		font-size: 5.5rem;
	}

	.carousel-caption > h1 {
		font-size: 4rem;
	}
}


@media (min-width: 768px) {
	.passion {
		height: 200px; 
	}

	.passion > h1 {
		font-size: 7.5rem;
	}

	.carousel-caption > h1 {
		font-size: 4rem;
	}

}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}



/*# sourceMappingURL=style.css.map */
