$maincolor: #ff8812
$whitecolor: #fff
$blackcolor: #000
$bgdarkcolor: #161d24
$hovercolor: #ad5a0c
$hoverbgcolor: #31373d

html
	scroll-behavior: smooth

.navbar
	background-color: #161d24
	a
		span
			color: $maincolor
			font-family: 'Pacifico', cursive
			font-size: 2.0rem
	a
		i
			color: $maincolor
	div
		ul
			li
				a
					font-family: 'Poppins'
					color: $maincolor !important
					padding-top: 5px
					margin-right: 10px
					font-size: 1rem

.navbar
	a:hover
		border-bottom: 2px yellow

.navigation
	text-align: center
	text-transform: uppercase
	font-weight: 500

.navigation * 
	box-sizing: border-box

.navigation li 
	display: inline-block
	list-style: outside none none
	margin: 0 1.5em
	padding: 0

.navigation a 
	padding: 0.5em 0
	color: rgba(255, 255, 255, 0.5)
	position: relative
	letter-spacing: 1px
	text-decoration: none

.navigation a:before,
.navigation a:after 
	position: absolute
	-webkit-transition: all 0.35s ease
	transition: all 0.35s ease

.navigation a:before 
	bottom: 0
	display: block
	height: 3px
	width: 0%
	content: ""
	background-color: #474747

.navigation a:after 
	left: 0
	top: 0
	padding: 0.5em 0
	position: absolute
	content: attr(data-hover)
	color: #ffffff
	white-space: nowrap
	max-width: 0%
	overflow: hidden

.navigation a:hover:before,
.navigation .current a:before 
	opacity: 1
	width: 100%

.navigation a:hover:after,
.navigation .current a:after 
	max-width: 100%

.nav-link
	text-align: right

.landing-page
	height: 900px
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/carousel2.jpg")
	background-size: cover
	background-attachment: fixed
	background-repeat: no-repeat
	background-color: black

.col-lg-6
	h1
		color: $whitecolor
		text-align: right
		padding: .5%
		font-size: 5rem
		text-shadow: 10px 10px 30px #000
		z-index: 1
	p
		color: #e3e3e3
		text-align: right
		font-size: 1.3rem
		line-height: 3rem
	a
		color: $bgdarkcolor !important
		background-color: $maincolor !important
		font-size: 1.7rem !important
		white-space: nowrap
		font-family: 'Pacifico', cursive
		text-transform: capitalize !important
		padding: 1.5% 9% !important
		border: 0 !important
		float: right
		border: 0 !important
		margin-top: 55px
		margin-right: 5px
		&:hover
			transform: scale(1.07)
			background-color: $maincolor !important


.highlight-text
	color: $maincolor

.jumbotron
	background-color: $bgdarkcolor !important
	color: white
	padding-top: 2%
	padding-bottom: 2%
	border-radius: 0 !important
	margin-bottom: 0 !important
	.lead 
		color: $maincolor
		font-size: 5rem
		font-family: 'Pacifico', cursive
		text-align: center
	p
		color: $whitecolor
		font-size: 1.5rem
		text-align: center
		font-family: 'Roboto Condensed', sans-serif

.passion
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/passion1.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	width: 100vw
	height: 15vh
	h1
		text-shadow: 15px 15px 30px #000
		font-family: 'Permanent Marker', cursive
		color: white
		text-align: center
		height: auto
		white-space: nowrap
		font-size: 14vw
		display: flex
		align-items: center
		justify-content: center
		padding: 2%


.carousel-caption
	h1
		font-size: 7vw
		text-shadow: 15px 0px 20px #000
		padding: 5%
		font-family: 'Roboto Condensed', sans-serif
		color: white
		border: 10px solid white
		font-weight: bold
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 18%

	p
		padding-top: 1%
		padding-bottom: 3%
		font-size: 3.5vw
		line-height: auto
		letter-spacing: 0.1rem
		font-weight: bold
		font-family: 'Roboto Condensed', sans-serif
		text-shadow: 15px 0px 20px #000




.clients
	background-color: white
	padding-bottom: 50px
	div
		h1
			text-align: center
			padding: 4%
			font-family: 'Permanent Marker', cursive

.row-clients
	div
		padding: 50px 0px
	div
		p
			text-align: center
			font-size: 1.5rem
			margin-bottom: 10%
	div
		i
			text-align: center
			display: inline-block
			width: 100%

.team
	height: 2800px
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/team1vertical.jpg")
	background-repeat: repeat-y
	background-size: cover
	background-color: black
	background-position: center
	div
		h1
			text-shadow: 3px 3px 15px #000
			text-align: center
			padding: 30px
			color: white
			font-size: 	3.2rem
			font-family: 'Permanent Marker', cursive

.card
	width: 20rem !important
	box-shadow: 10px 10px 20px #000
	margin: auto
	margin-bottom: 10%
	justify-content: center
	align-items: center
	border: solid 15px $whitecolor
	background-color: $whitecolor
	height: 600px

.card
	img 
		border-radius: 50%
		border: solid 3px #ff8812
		padding: 10px
		margin: 5%
		height: 150px
		width: 150px
		display: flex !important
		align-items: center !important
		justify-content: center !important
	div
		padding: 0
		margin: 0
		h5
			text-align: center
			font-family: 'Permanent Marker', cursive
			font-size: 2rem
		p
			color: black !important
			padding: 5%
			margin: 0
			font-family: 'Permanent Marker', cursive
			line-height: 1.9rem
			text-align: center
			font-size: 1.3rem
		hr
			width: 50%
			border: 2px solid #000
			border-radius: 2px
		a
			background-color: $maincolor !important
			font-size: 1.3rem !important
			white-space: nowrap
			font-family: 'Pacifico', cursive
			color: $bgdarkcolor !important
			position: absolute
			text-transform: capitalize !important
			border: 0px !important
			bottom: 65px
			left: 75px

.gallery
	h1
		font-size: 2.5rem
		text-align: center
		padding: 3%
		font-family: 'Permanent Marker', cursive

	.hr-one
		width: 90%
		border: 1px solid gray
		border-radius: 2px
		padding: 0

	hr
		width: 90%
		border: 1px solid gray
		border-radius: 2px
		padding: 0
		margin-bottom: 5%
		margin-top: 4%

	h4
		font-size: 1.5rem
		text-align: center
		padding-top: 1%
		padding-bottom: 3%
		font-family: 'Permanent Marker', cursive

.image-gallery
	transition: .5s ease
	backface-visibility: hidden
	&:hover
		transform: scale(1.1)

figure
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/background.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	margin-bottom: 0 !important

.figure1
	margin-top: 5%

.figure2
	height: 200px
	div
		span
			font-family: 'Roboto Condensed', sans-serif
			font-size: 1rem
			text-align: center
			color: gray
			opacity: 0.3
			display: flex
			justify-content: center
			align-items: center
			vertical-align: bottom
			
.fixed-wrap
	div
		h1
			font-family: 'Pacifico', cursive
			color: $maincolor
			text-align: center
			font-size: 3rem

#link-contacts h1
	text-shadow: 3px 3px 10px #000
	font-family: 'Pacifico', cursive
	color: $maincolor
	text-align: center
	font-size: 5rem
	padding: 3%
	margin-bottom: 0 !important

.question-icon
	color: $maincolor
	margin-top: 5%
	padding: 2% !important

.form-button
	width: 100%
	border: 0 $bgdarkcolor
	padding-bottom: 5px
	background: $bgdarkcolor
	color: $maincolor
	font-family: 'Permanent Marker', cursive
	font-size: 2rem
	&:hover
		transform: scale(1.1)

.hr-form
	width: 90%
	border: 3px solid black
	border-radius: 5px
	padding: 0

.collapse
	h5
		text-align: center
		font-family: 'Roboto Condensed', sans-serif
		font-size: 1.5rem
		padding: 2.5%
	i
		padding: 4%
		display: flex
		justify-content: center
		align-items: center

.collapse-button
	width: 100%
	border-radius: 0px !important
	border: 1px $maincolor !important
	background-color: $maincolor !important
	margin-top: 5%
	margin-bottom: 5%

.connect
	h1
		font-family: 'Roboto Condensed', sans-serif
		font-size: 2.5rem
		text-align: center
		border: 5px solid black
		padding-top: 5%
		padding-bottom: 5%
		padding-left: 10%
		padding-right: 10%
		margin: 10%
		margin-top: 15%
		margin-bottom: 10%
		white-space: nowrap
	i
		display: flex
		justify-content: center
		align-items: center
		padding: 5%
		margin: 12%

.facebook
	color: #3b5998
.twitter
	color: #1dcaff
.instagram
	color: #bc2a8d
.youtube
	color: #FF0000
.linkedin
	color: #2867B2
.tumblr
	color: #34526f

.contact-box
	margin-top: 1%
	padding-bottom: 5% !important
	color: black
	font-size: 2rem
	background-color: $bgdarkcolor
	font-family: 'Roboto Condensed', sans-serif

	h4
		text-align: center
		color: $maincolor
		font-family: 'Roboto Condensed', sans-serif
		padding: 5%
		padding-bottom: 2%
		font-size: 2rem

	hr
		width: 90%
		border: 1px solid gray
		border-radius: 1px
		padding: 0

.contact-brand
	font-family: 'Pacifico', cursive
	color: $maincolor
	font-size: 3rem

.contact-column
	margin: 4%
	justify-content: center
	align-items: center

.contact-details
	color: $maincolor
	font-family: 'Roboto Condensed', sans-serif
	font-size: 1.3rem
	text-align: center

.contact-icon
	color: $maincolor
	padding: 0.5% !important

.contact-brand-wrapper
	text-align: center

iframe
	height: 100%
	width: 100%
	padding: 2%

.footer
	color: gray

.footer
	background-color: #b8b8b8
	margin-bottom: 0 !important
	height: 20px
	small
		color: black
		padding-left: auto
		opacity: 0.6
		display: flex
		align-items: center
		justify-content: center

.filler
	margin-top: 1000px

// SM ----------------------------------------------------------------------------
@media (min-width: 576px)

	.carousel-caption
		h1
			margin-bottom: 0

	.passion
		h1
			white-space: nowrap
			font-size: 12vw
			display: flex
			align-items: center
			justify-content: center
			padding: 10%

	.team
		height: 2800px

	.gallery
		h1
			font-size: 5rem
			text-align: center
			padding: 3%
			font-family: 'Permanent Marker', cursive

		h4
			font-size: 1.5rem
			text-align: center
			padding-top: 1%
			padding-bottom: 3%
			font-family: 'Permanent Marker', cursive

	.fixed-wrap
		div
			h1
				text-shadow: 3px 3px 10px #000
				padding-top: 8%
				font-family: 'Pacifico', cursive
				color: $maincolor
				text-align: center
				font-size: 4rem
				display: flex
				height: 90%
				width: 100%
				align-items: center
				justify-content: center

// MD ----------------------------------------------------------------------------
@media (min-width: 768px) 

	.carousel-caption
		h1
			margin-bottom: 0

	.passion
		h1
			white-space: nowrap
			font-size: 7vw
			padding-left: 16%
			padding-right: 16%
			padding-bottom: 0%
			padding-top: 0%

	.team
		height: 1600px
		div
			h1
				text-align: center
				padding: 30px
				color: white
				font-size: 	5rem
				font-family: 'Permanent Marker', cursive

	.fixed-wrap
		div
			h1
				padding-top: 3%
				text-shadow: 3px 3px 10px #000
				font-family: 'Pacifico', cursive
				color: $maincolor
				text-align: center
				font-size: 5rem
				display: flex
				height: 90%
				width: 100%
				align-items: center
				justify-content: center

	.connect
		h1
			font-family: 'Roboto Condensed', sans-serif
			font-size: 2.5rem
			text-align: center
			border: 5px solid black
			padding: 3%
			margin: 5%
			white-space: nowrap
		i
			display: flex
			justify-content: center
			align-items: center
			padding: 2%
			margin: 5%

	.question-icon
		color: $maincolor
		margin-top: 1%

// LG ----------------------------------------------------------------------------	
@media (min-width: 992px) 
	.navbar
		background-color: transparent

	.top-nav-collapse
		background-color: $bgdarkcolor

	.jumbotron
		p
			color: $whitecolor
			font-size: 2.5rem
			text-align: center
			font-family: 'Roboto Condensed', sans-serif

	.team
		height: 1100px
		background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/team1vertical.jpg")
		background-repeat: repeat-y
		background-size: cover
		background-color: black
		background-position: center

	.team
		height: 1500px
		background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/team1vertical.jpg")
		background-repeat: repeat-y
		background-size: cover
		background-color: black
		background-position: center
		div
			h1
				text-shadow: 3px 3px 15px #000
				text-align: center
				padding: 30px
				color: white
				font-size: 	3.2rem
				font-family: 'Permanent Marker', cursive

	.card
		width: 28rem !important
		box-shadow: 10px 10px 20px #000
		margin: auto
		margin-bottom: 10%
		justify-content: center
		align-items: center
		border: solid 15px $whitecolor
		background-color: $whitecolor
		height: 600px

	.card
		img 
			border-radius: 50%
			border: solid 3px #ff8812
			padding: 10px
			margin: 5%
			height: 150px
			width: 150px
			display: flex !important
			align-items: center !important
			justify-content: center !important

	.card
		div
			a
				background-color: $maincolor !important
				font-size: 1.3rem !important
				white-space: nowrap
				font-family: 'Pacifico', cursive
				color: $bgdarkcolor !important
				position: absolute
				bottom: 45px
				left: 135px

	.contact-box
		margin-top: 0
		padding-bottom: 8%
		color: black
		font-size: 2rem
		background-color: $bgdarkcolor
		font-family: 'Roboto Condensed', sans-serif

		h4
			text-align: center
			color: $maincolor
			font-family: 'Roboto Condensed', sans-serif
			padding-bottom: 2%
			font-size: 5rem

// XL ----------------------------------------------------------------------------
@media (min-width: 1200px) 
	.team
		height: 1100px
		background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url("../images/team1vertical.jpg")
		background-repeat: repeat-y
		background-size: cover
		background-color: black
		background-attachment: fixed
		background-position: center
		div
			h1
				text-shadow: 3px 3px 15px #000
				text-align: center
				padding: 30px
				color: white
				font-size: 	3.2rem
				font-family: 'Permanent Marker', cursive

	.card
		width: 17rem !important
		margin: auto
		margin-bottom: 10%
		justify-content: center
		align-items: center
		border: solid 15px $whitecolor
		background-color: $whitecolor
		height: 800px
	
	.card
		img 
			border-radius: 50%
			border: solid 3px #ff8812
			padding: 10px
			margin: 25% 25%
			height: 200px
			width: 200px
			display: flex !important
			align-items: center !important
			justify-content: center !important

	.card
		div
			a
				background-color: $maincolor !important
				font-size: 1.3rem !important
				white-space: nowrap
				font-family: 'Pacifico', cursive
				color: $bgdarkcolor !important
				position: absolute
				bottom: 45px
				left: 55px

	.contact-box
		margin-top: 3%
		padding-bottom: 1%
		color: black
		font-size: 2rem
		background-color: $bgdarkcolor
		font-family: 'Roboto Condensed', sans-serif

		h4
			text-align: center
			color: $maincolor
			font-family: 'Roboto Condensed', sans-serif
			padding-top: 3%
			font-size: 3.5rem